<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>로 그 인</title>
</head>
<style>
  body{
    font-family: sans-serif;
    padding: 20px;
    border: 1px solid gainsboro;
  }
  h3,div{
    text-align:center;
    margin-bottom: 20px;
  }
  div{

  }
  .field-err{
    color: red;
    font-size: 0.8em;
    margin-top: 3px;
   }
  button{
    padding: 6px 16px;
    margin-top: 10px;
    cursor: pointer;
  }
</style>
<body>
  <h3>회원 로그인</h3>
  <form action="" method="post" th:object="${loginForm}">
    <div>
      <label th:for="email">아이디(이메일) : </label><input type="email" th:field="*{email}">
      <div class="field-err" th:each="err : ${#fields.errors('email')}">
        <span th:text="${err}"></span>
      </div>
    </div>
    <div>
      <label th:for="passwd">비밀번호 : </label><input type="password" th:field="*{passwd}">
      <div class="field-err" th:each="err : ${#fields.errors('passwd')}">
        <span th:text="${err}"></span>
      </div>
    </div>

    <div><button>로그인</button></div>

  </form>
</body>
</html>