<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>댓글 쓰기</title>
  <link rel="stylesheet" th:href="@{/css/Comment/comment.css">
</head>
<body>
  <h3>댓글 창</h3>
  <form action="" th:method="post" class="comment-form" th:>
    <div>
      <textarea placeholder="댓글을 입력해주세요" class="comment-input"></textarea>
      <button type="submit" class = "comment-submit">등록</button>
    </div>
  </form>

</body>
</html>